* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Signika;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 1px 1px #807f7f;
  letter-spacing: 1px;
  outline: none;
}

body {
  height: 100vh;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  margin: 20px 10px 10px 10px;
  border-radius: 6px;
  height: 80vh;
}

.weather-desc {
  color: rgba(255, 255, 255, 0.9);
  font-size: 1.4rem;
  text-transform: capitalize;
  text-align: center;
  cursor: default;
}

.off-screen {
  -webkit-animation: off-screen 0.5s 1;
          animation: off-screen 0.5s 1;
}

@-webkit-keyframes off-screen {
  0% {
    -webkit-transform: translate3d(-100vh, 0, 0);
            transform: translate3d(-100vh, 0, 0);
  }
}

@keyframes off-screen {
  0% {
    -webkit-transform: translate3d(-100vh, 0, 0);
            transform: translate3d(-100vh, 0, 0);
  }
}

.top-screen {
  -webkit-animation: top-screen 1s 1;
          animation: top-screen 1s 1;
}

@-webkit-keyframes top-screen {
  0% {
    -webkit-transform: translate3d(0, -100vh, 0);
            transform: translate3d(0, -100vh, 0);
  }
}

@keyframes top-screen {
  0% {
    -webkit-transform: translate3d(0, -100vh, 0);
            transform: translate3d(0, -100vh, 0);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fadeIn 1s;
          animation: fadeIn 1s;
}

.textInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.3rem;
  color: #e7e5e5;
  line-height: 40px;
}

.textInfo #city {
  font-size: 2rem;
  cursor: pointer;
}

.textInfo .temp {
  font-size: 5rem;
  margin: 15px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding-bottom: 10px;
}

.textInfo .time {
  margin: 5vh;
  font-size: 2.5rem;
  cursor: pointer;
}

.input-bar {
  background: #2d2a3f;
  padding: 7px;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 40px;
}

.input-search {
  border: none;
  padding: 10px;
  background: none;
  color: rgba(255, 255, 255, 0.9);
  font-size: 1.3rem;
}

::-webkit-input-placeholder {
  color: #b1b0b0;
  opacity: 0.6;
}

:-ms-input-placeholder {
  color: #b1b0b0;
  opacity: 0.6;
}

::-ms-input-placeholder {
  color: #b1b0b0;
  opacity: 0.6;
}

::placeholder {
  color: #b1b0b0;
  opacity: 0.6;
}

@-webkit-keyframes enlarge {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.2, 1.2, 1);
            transform: scale3d(1.2, 1.2, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@keyframes enlarge {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.2, 1.2, 1);
            transform: scale3d(1.2, 1.2, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

.icon {
  height: 150px;
  width: 150px;
}

.enlarge-animation {
  -webkit-animation: enlarge 5s infinite;
          animation: enlarge 5s infinite;
}

.tempChange {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-direction: row;
      flex-direction: row;
}

.tempChange .buttons {
  font-weight: 700;
  font-size: 1.5rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: rgba(90, 240, 85, 0.6);
  background: rgba(255, 255, 255, 0.5);
  border-radius: 7px;
  margin: 5%;
  padding: 0 8px;
  cursor: pointer;
  display: none;
}

.forecast {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-direction: row;
      flex-direction: row;
  padding-top: 10px;
  line-height: 30px;
  text-align: center;
  font-size: 1rem;
}

.forecast .forecast-box {
  padding: 0 5px;
}

.forecast img {
  width: 40px;
}

.ftemp {
  cursor: default;
}

.temp:hover,
.time:hover,
#city:hover {
  color: #34f6fd;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  -webkit-transform: scale3d(1.1, 1.1, 1);
          transform: scale3d(1.1, 1.1, 1);
}

.rain {
  background-image: url("../assets/weather-pics/rain.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.mist {
  background-image: url("../assets/weather-pics/mist.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.clear {
  background-image: url("../assets/weather-pics/clear.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.snow {
  background-image: url("../assets/weather-pics/snow.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.cloud {
  background-image: url("../assets/weather-pics/cloud.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.sun {
  background-image: url("../assets/weather-pics/sun.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
/*# sourceMappingURL=main.css.map */