$textColor: rgba(255, 255, 255, 0.9);
$placeholderColor: rgb(177, 176, 176);

@mixin flex() {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Signika;
  color: $textColor;
  text-shadow: 1px 1px rgb(128, 127, 127);
  letter-spacing: 1px;
  outline: none;
}
body {
  height: 100vh;
}

.wrapper {
  @include flex();
  padding-top: 20px;
  margin: 20px 10px 10px 10px;
  border-radius: 6px;
  height: 80vh;
}

.weather-desc {
  color: $textColor;
  font-size: 1.4rem;
  text-transform: capitalize;
  text-align: center;
  cursor: default;
}
.off-screen {
  animation: off-screen 0.5s 1;
}
@keyframes off-screen {
  0% {
    transform: translate3d(-100vh, 0, 0);
  }
}

.top-screen {
  animation: top-screen 1s 1;
}
@keyframes top-screen {
  0% {
    transform: translate3d(0, -100vh, 0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.fade-in {
  animation: fadeIn 1s;
}

.textInfo {
  @include flex();
  font-size: 1.3rem;
  color: rgb(231, 229, 229);
  line-height: 40px;
  #city {
    font-size: 2rem;
    cursor: pointer;
  }
  .temp {
    font-size: 5rem;
    margin: 15px;
    cursor: pointer;
    user-select: none;
    padding-bottom: 10px;
  }
  .time {
    margin: 5vh;
    font-size: 2.5rem;
    cursor: pointer;
  }
}

.input-bar {
  background: rgb(45, 42, 63);
  padding: 7px;
  margin: 20px;
  display: flex;
  align-items: center;
  width: 50vh;
  justify-content: space-between;
  border-radius: 40px;
}

.input-search {
  border: none;
  padding: 10px;
  background: none;
  color: $textColor;
  font-size: 1.3rem;
}

::placeholder {
  color: $placeholderColor;
  opacity: 0.6;
}

@keyframes enlarge {
  0% {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1.2, 1.2, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

.icon {
  height: 150px;
  width: 150px;
}
.enlarge-animation {
  animation: enlarge 5s infinite;
}
.tempChange {
  @include flex();
  flex-direction: row;
  .buttons {
    font-weight: 700;
    font-size: 1.5rem;
    user-select: none;
    color: rgba(90, 240, 85, 0.6);
    background: rgba(255, 255, 255, 0.5);
    border-radius: 7px;
    margin: 5%;
    padding: 0 8px;
    cursor: pointer;
    display: none;
  }
}

.forecast {
  @include flex();
  flex-direction: row;
  padding-top: 10px;
  line-height: 30px;
  text-align: center;
  font-size: 1rem;
  .forecast-box {
    padding: 0 5px;
  }
}
.forecast img {
  width: 40px;
}
.ftemp {
  cursor: default;
}

.temp:hover,
.time:hover,
#city:hover {
  color: rgba(52, 246, 253, 1);
  transition: all 0.2s ease-in;
  transform: scale3d(1.1, 1.1, 1);
}

@import "./backgrounds";
